@import "tailwindcss";

@font-face {
  font-family: "Quiche";
  src: url("/fonts/Quiche-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quiche";
  src: url("/fonts/Quiche-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-dolores: #385cc7;
}
